grant codeBase"C:/Users/victo/Desktop/controlPI/-"{
   permission java.security.AllPermission;
   permission java.util.PropertyPermission "*", "read,write";
   permission java.io.FilePermission "output.txt", "read, write";
   permission java.io.FilePermission "C:\\Users\\victo\\Desktop\\controlPI\\output.txt", "read, write";
   permission java.io.FilePermission "C:/Users/victo/Desktop/controlPI/output.txt", "read, write";
   permission java.io.FilePermission "C:\Users\victo\Desktop\controlPI\output.txt", "read, write";
   
   permission java.io.FilePermission "input2.txt", "read, write";
   permission java.io.FilePermission "C:\\Users\\victo\\Desktop\\controlPI\\input2.txt", "read, write";
   permission java.io.FilePermission "C:/Users/victo/Desktop/controlPI/input2.txt", "read, write";
   permission java.io.FilePermission "C:\Users\victo\Desktop\controlPI\input2.txt", "read, write";
   
   permission java.io.FilePermission "input3.txt", "read, write";
   permission java.io.FilePermission "C:\\Users\\victo\\Desktop\\controlPI\\input3.txt", "read, write";
   permission java.io.FilePermission "C:/Users/victo/Desktop/controlPI/input3.txt", "read, write";
   permission java.io.FilePermission "C:\Users\victo\Desktop\controlPI\input3.txt", "read, write";
   
   permission otherPermission;
};
